.page-blog-con-w,.page-other-con-w {
	max-width: 960px;
	margin: 0 auto;
}
.page-blog-con,.page-other-con {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;	
	grid-gap: 20px;
}
.single-blog-con,.single-finance-con,.single-blog-con,.single-wig-con {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
.page-finance-con,.page-other-con,.page-wig-con {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;	
}
.graph-green {
	background-color: rgb(6, 208, 210) !important;
}
.graph-pink {
	background-color: #06d0d2;
}
.main-title {
	text-shadow: 3px 3px 3px black;
}
.page-wig-year-box {
	padding: 10px;
	-webkit-box-shadow: 0px 0px 3px 0px #c5c5c5;
	margin-bottom: 30px;
}
.single-other-title {
	font-size: 12px !important;
}
.single-other-contentbox {
	padding: 20px 0;
}
.page-blog-item-bos h3 {
	margin: 0;
	padding: 5px 0;
}
.page-blog-item-bos p {
	margin: 0;
	padding: 10px 0;
}
.page-blog-item-bos {
	padding: 20px;
	-webkit-box-shadow: 0px 0px 3px 0px #c5c5c5;
}
.index-wig-theme {
	color: #029c9e;
	font-weight: bold;
}
.wig-content-item {
	padding-bottom: 20px;
}
.wig-graph-item {
	background-color: black;
}
.index-wig-graph {
	width: 100%;
}
.wig-title-box h4 {
	margin-bottom: 20px;
}
.wig-content-text p {
	font-size: 15px;
	line-height: 30px;
}
.wig-graph-max span {
	line-height: 40px;
}
.wig-graoh-p {
	height: 40px;
	background-color: #ff81e9;
	text-align: center;
}
.wig-graph-wrapper {
	max-width: 700px;
	margin: 0 auto;
}
.wig-graph-max {
	width: 100%;
	max-width: 700px;
	height: 40px;
	margin: 5px auto;
	padding-left: 30px;
}
.other-image img,.wig-image img {
	height: auto;
}
.page-title-finance {
	background-blend-mode: darken;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.page-finance-explain {
	padding: 30px 15px 30px 15px;
}
.index-finance-wrapper a {
	width: 100%;
}
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
	color: none;
}
.finance-content-wraper h4 {
	color: #0198a2;
	
}
.finance-content-wraper {
	text-align: center;
}
.finance-item-box p {
	font-size: 17px;
}
.finance-item-box h5 {
	padding: 5px 0 !important;
	font-size: 20px;
}
.finance-item-box {
	padding: 5px 0;
}
.finance-content-box {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	text-align: center;
}
.finance-date {
}
.page-finance-wrapper,.page-blog-wrapper,.page-wig-wrapper,.page-other-wrapper {
	padding: 30px 15px;
}
.page-fonance-content {
	width: 100%;
	padding: 15px;
	border: 1px solid #00000040;
	margin-bottom: 30px;
}
.mp0 {
	margin: 0;
	padding: 0;
}
.index-graph-stock {
	height: 30px;
	width: 100%;	
	background-color: #ff68dd;
}
.index-graph-loss {
	height: 170px;
	width: 100%;
	background-color: #2497b3;	
}
.index-graph-profit {
	width: 30%;
	height: 200px;
	background-color: #00b6ff;
	display: table-cell;
}
.graph-p {
	text-align: center;
	line-height: auto;
}
.index-graph-right {
	width: 30%;
	height: 200px;
	display: table-cell;
}
.index-graph-box {
	width: 50%;
	height: 200px;
	display: table;
	margin: 0 auto;
	text-align: center;
}
.index-content h1,.index-content h2,.index-content h4,.index-content h3,.index-content h5,.index-content h6 {
	margin: 0;
	padding: 0;
}
.index-content {
	padding: 15px 20px 30px 15px;
}
.index-wig-content,.index-finance-content {
	padding: 15px 0;
}
.index-finance-wrapper h4 {
	color: white;
}
.index-finance-item p {
	line-height: 27px;
	text-align: left;
	font-size: 15px;
}
.index-finance-item h4,.index-finance-item p {
	border-bottom: 1px solid #ffffff78;
	color: white;
}
.index-finance-item {
	padding: 20px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows:auto;
	text-align: center;
}
.index-wig-wrapper h5 {
	padding-left: 15px;
}
.index-wig-wrapper p{
	padding-left: 30px;
}
.index-wig-wrapper,.index-blog-wrapper {
	background-color: white;
}
.index-finance-wrapper {
	background-color: black;
	color: white;
}
.index-finance-wrapper h2 {
	color: white;
}
article {
	/*background: #e6e6e6 !important;*/
	margin: 20px 0 !important;
}
.row p {
	margin: 0;
}
.navbar-collapse ul li a {
	color: #3c3b3b;
}
.blog-h3 {
	margin: 0;
	padding: 0;
}
.single-blog-wrapper {
	padding: 20px 15px;
}
.single-blog-wrapper h3 {
	margin: 0;
	padding: 30px 0 15px 0; 
}
.single-blog-wrapper p {
	font-size: 16px !important;
	word-wrap: break-word;
	line-height: 25px;
}
.index-graph-wraper p {
	color: #403a3a;
}
#categories-2 ul li,#archives-2 ul li {
	list-style-type: none;
}
#categories-2 ul,#archives-2 ul {
	margin: 0;
	text-align: center;
}
.col-md-3 aside {
	margin: 0;
}